:host{
    margin:5px;
}
.control-label {
    display: inline-block;
    width: 50px;
}
.control-group {
    margin: 12px 0;
}
.error {
    color: red; 
}
label {
    cursor: pointer;
    height: 30px;
}
h1,p,form {
    margin-left: 25px;
}
form {
    width: 60%;
}