:host{
    display: flex;
}

.hangar-section {
    flex: 1;
    margin: 50px;
}

a {
    font-weight: bold;
    color: white;
}

a.active {
    color: yellow;
}

.sub-nav {
    margin: 50px auto 0px 0px;
  }